html {
	height: 100%;
	font-size: $base-font-size;
}
body {
	height: 100%;
	margin: 0;
	color: $base-color;
	background: $base-bg;
	font: $base-font-size $base-font-family;
}
img {
	border-style: none;
	max-width: 100%;
}
a, cite {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
ul, ol {
	margin: 0 12px;
	padding: 0 0 0 40px;
	list-style-type: disc;
}
li {
	padding: 0;
	margin: 0;
}
textarea {
	resize: none;
}
input, textarea, select {
	font: $base-font-size;
	vertical-align: middle;
	color: $base-color;
	&:focus {
		outline: none;
	}
}
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
table {
	width :100%;
	table-layout: auto;
	border-collapse: collapse;
	border-spacing: 0;
}
//- HTML 5
header, nav, section, article, aside, footer {
	display:block;
}