{{#> 'templates/base'}}
	{{#*inline 'content'}}
		<div class="g-wrapper">
		</div>
		<script src="./js/index.js"></script>
	{{/inline}}
<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
	<!--<meta charset="UTF-8">-->
	<!--<title>Document</title>-->
	<!--<link rel="stylesheet" href="#{cssPath}/all.min.css">-->
	<!--<script src="./js/common.js"></script>-->
<!--</head>-->
<!--<body>-->
	<!--<div class="wrapper"></div>-->
	<!--<script src="./js/index.js"></script>-->
<!--</body>-->
<!--</html>-->
{{/'templates/base'}}