//- PATH TO FOLDERS
$img-path: "../src/images";
$temp-path: "#{$img-path}/temp";
$icon-path: "#{$img-path}/icons";
$sprite-path: "#{$img-path}/sprites";
$frames-path: "#{$img-path}/frames";
$blocks-path: "../src/markups/blocks";
$modules-path: "../src/markups/modules";