.svg-calendar {
	background: url("../../../apache/base-gulp/sprite-dc82f1b7.svg") 75% 80% no-repeat;
}

.svg-calendar-dims {
	width: 16px;
	height: 16px;
}

.svg-email {
	background: url("../../../apache/base-gulp/sprite-dc82f1b7.svg") 100% 0 no-repeat;
}

.svg-email-dims {
	width: 16px;
	height: 16px;
}

.svg-facebook {
	background: url("../../../apache/base-gulp/sprite-dc82f1b7.svg") 0 0 no-repeat;
}

.svg-facebook-dims {
	width: 32px;
	height: 32px;
}

.svg-favorite {
	background: url("../../../apache/base-gulp/sprite-dc82f1b7.svg") 94.11764705882354% 36.36363636363637% no-repeat;
}

.svg-favorite-dims {
	width: 12px;
	height: 12px;
}

.svg-reload {
	background: url("../../../apache/base-gulp/sprite-dc82f1b7.svg") 66.66666666666667% 0 no-repeat;
}

.svg-reload-dims {
	width: 32px;
	height: 32px;
}

.svg-video {
	background: url("../../../apache/base-gulp/sprite-dc82f1b7.svg") 0 100% no-repeat;
}

.svg-video-dims {
	width: 24px;
	height: 24px;
}

.svg-videoFilled {
	background: url("../../../apache/base-gulp/sprite-dc82f1b7.svg") 42.857142857142854% 100% no-repeat;
}

.svg-videoFilled-dims {
	width: 24px;
	height: 24px;
}

